.banner-area.two {
  overflow: hidden;
}

.banner-area.two .banner-item {
  background-color: #fbf7ff;
}

.banner-area.two .banner-item .row {
  margin-top: 55px;
}

.banner-area.two .banner-item .banner-content {
  max-width: 100%;
}

.banner-area.two .banner-item .banner-content h1 {
  color: var(--blue-color);
}

.banner-area.two .banner-item .banner-content p {
  color: var(--paragraph-color);
}

.banner-area.two .banner-item .banner-content .banner-btn-area .common-btn.two {
  color: var(--white-color);
  background-color: var(--sky-color);
}

.banner-area.two .banner-item .banner-content .banner-btn-area .common-btn.two:hover {
  background-color: var(--blue-color);
}

.banner-area.two .banner-item .banner-img-two {
  text-align: center;
  position: relative;
}

.banner-area.two .banner-item .banner-img-two img:nth-child(1) {
  position: relative;
  z-index: 1;
  max-width: 610px;
  margin-left: auto;
  margin-right: auto;
}

.banner-area.two .banner-item .banner-img-two img:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: services-ani-three 15s infinite linear;
          animation: services-ani-three 15s infinite linear;
}

.banner-area.two .banner-item .banner-img-two img:nth-child(3) {
  position: absolute;
  bottom: 190px;
  left: -20px;
  -webkit-animation: services-ani-three 15s infinite linear;
          animation: services-ani-three 15s infinite linear;
}

.banner-area.two .banner-item .banner-img-two img:nth-child(4) {
  position: absolute;
  bottom: -25px;
  left: 60px;
}

.banner-area.two .banner-item .banner-img-two img:nth-child(5) {
  position: absolute;
  right: 30px;
  bottom: -45px;
  -webkit-animation: services-ani-three 15s infinite linear;
          animation: services-ani-three 15s infinite linear;
}

.banner-area.two .banner-item .banner-img-two img:nth-child(6) {
  position: absolute;
  right: 0;
  top: -20px;
}

.banner-area.two .banner-item .banner-img-shape img {
  position: absolute;
}

.banner-area.two .banner-item .banner-img-shape img:nth-child(1) {
  bottom: 65px;
  left: 24%;
  -webkit-animation: services-ani-three 15s infinite linear;
          animation: services-ani-three 15s infinite linear;
}

.banner-area.two .banner-item .banner-img-shape img:nth-child(2) {
  left: 50px;
  bottom: 200px;
  -webkit-animation: services-ani-two 4s infinite linear;
          animation: services-ani-two 4s infinite linear;
}

.partner-area.two {
  background-color: var(--white-color);
}

.about-area.two {
  background-color: #f6f6f6;
}

.about-area.two .about-content {
  margin-bottom: 0;
}

.about-area.two .about-content p {
  margin-bottom: 35px;
}

.about-area.two .about-content .inner {
  margin-bottom: 30px;
}

.about-area.two .about-content .inner img {
  text-align: center;
  background-color: #dafdf6;
  -webkit-box-shadow: 20px 20px 20px 0px #f1f1f1;
          box-shadow: 20px 20px 20px 0px #f1f1f1;
  margin-bottom: 25px;
  padding: 20px;
}

.about-area.two .about-content .inner h3 {
  font-size: 24px;
  margin-bottom: 18px;
}

.about-area.two .about-content .inner h3 a {
  color: var(--blue-color);
}

.about-area.two .about-content .inner h3 a:hover {
  color: var(--main-color);
}

.about-area.two .about-content .inner p {
  margin-bottom: 0;
}

.services-area.two {
  background-color: var(--white-color);
}

.services-area.two .services-shape img:nth-child(3) {
  bottom: unset;
  left: unset;
  top: 100px;
  right: 100px;
}

.services-area.two .services-shape img:nth-child(5) {
  top: 50px;
  left: 0;
  z-index: -2;
}

.services-area.two .services-item {
  padding: 30px 25px 30px 95px;
  text-align: start;
  position: relative;
  z-index: 1;
}

.services-area.two .services-item:hover {
  background-color: var(--blue-color);
}

.services-area.two .services-item:hover h3 a {
  color: var(--white-color);
}

.services-area.two .services-item:hover h3 a:hover {
  color: var(--main-color);
}

.services-area.two .services-item:hover p {
  color: var(--white-color);
}

.services-area.two .services-item:hover .common-link {
  color: var(--white-color);
}

.services-area.two .services-item:hover .common-link:hover {
  color: var(--main-color);
}

.services-area.two .services-item:hover .common-link i {
  color: var(--main-color);
}

.services-area.two .services-item:hover .shape-bg {
  opacity: .10;
}

.services-area.two .services-item .shape-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  opacity: .50;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.services-area.two .services-item .icon {
  position: absolute;
  margin-top: 0;
  margin-bottom: 0;
  top: 30px;
  left: 0;
}

.services-area.two .services-item p {
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.choose-area.two {
  overflow: hidden;
}

.choose-area.two .choose-img img:nth-child(2) {
  top: unset;
  bottom: -250px;
  right: 0;
  left: 0;
  border-radius: 0%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.project-area {
  background-color: #030721;
  z-index: 1;
  position: relative;
}

.project-area .project-shape img {
  position: absolute;
  z-index: -1;
}

.project-area .project-shape img:nth-child(1) {
  top: 50px;
  left: 0;
}

.project-area .project-shape img:nth-child(2) {
  top: 100px;
  right: 0;
}

.project-area .section-title {
  text-align: start;
}

.project-area .section-title h2 {
  color: var(--white-color);
  max-width: 500px;
}

.project-area .section-title .common-btn {
  position: absolute;
  bottom: 50px;
  right: 0;
}

.project-item {
  margin-bottom: 30px;
  position: relative;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.project-item:hover {
  -webkit-transform: translate(0, -5px);
          transform: translate(0, -5px);
}

.project-item:hover:before {
  border-bottom: 310px solid #364085;
  opacity: 1;
}

.project-item:hover .inner img {
  -webkit-animation: flash var(--transition);
          animation: flash var(--transition);
}

.project-item:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  border-right: 380px solid transparent;
  border-bottom: 310px solid #030721;
  opacity: .80;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.project-item .inner {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px 20px;
  z-index: 1;
}

.project-item .inner img {
  margin-bottom: 20px;
}

.project-item .inner h3 {
  font-size: 24px;
  margin-bottom: 12px;
}

.project-item .inner h3 a {
  color: var(--white-color);
}

.project-item .inner h3 a:hover {
  color: var(--blue-color);
}

.project-item .inner span {
  display: block;
  color: var(--sky-color);
  margin-bottom: 10px;
}

.project-item .inner .common-link {
  color: var(--white-color);
}

.project-item .inner .common-link i {
  color: var(--main-color);
}

.project-item .inner .common-link:hover {
  color: var(--main-color);
}

.feedback-area .owl-carousel .owl-item img {
  width: unset;
}

.feedback-area .owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 30px;
  margin-bottom: -10px;
}

.feedback-area .owl-theme .owl-dots .owl-dot span {
  background: var(--paragraph-color);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.feedback-area .owl-theme .owl-dots .owl-dot.active span, .feedback-area .owl-theme .owl-dots .owl-dot:hover span {
  background: var(--blue-color);
}

.feedback-item {
  position: relative;
  background-color: var(--white-color);
  border-radius: 115px 0 115px 0;
  text-align: center;
  margin-top: 30px;
  padding: 30px 25px;
  margin-left: 15px;
  margin-right: 15px;
  border: 2px dashed #060d36;
}

.feedback-item:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: -30px;
  right: -20px;
  background-color: #060d36;
  border-radius: 115px 0 115px 0;
  z-index: -1;
}

.feedback-item img {
  max-width: 90px;
  border-radius: 50%;
  border: 5px solid var(--sky-color);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.feedback-item h3 {
  font-size: 24px;
  margin-bottom: 5px;
}

.feedback-item span {
  display: block;
  color: var(--sky-color);
  margin-bottom: 15px;
}

.feedback-item p {
  color: var(--blue-color);
  font-style: italic;
  margin-bottom: 0;
}

.feedback-item i {
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 60px;
  color: var(--paragraph-color);
  font-size: 105px;
  opacity: .10;
}

.video-area {
  background-image: url("../../images/video-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 500px;
}

.video-area:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #020727;
  opacity: .30;
}

.video-area .video-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.video-area .video-content a {
  z-index: 5;
  display: inline-block;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  position: relative;
  font-size: 55px;
  text-align: center;
  color: var(--main-color);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.video-area .video-content a:before {
  content: '';
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 90px;
  height: 90px;
  background-color: var(--white-color);
  border-radius: 50%;
  z-index: -1;
  -webkit-animation: pulse-border 1500ms ease-out infinite;
          animation: pulse-border 1500ms ease-out infinite;
}

.video-area .video-content a:after {
  content: '';
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 90px;
  height: 90px;
  background-color: var(--white-color);
  border-radius: 50%;
  z-index: -1;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.video-area .video-content a i {
  line-height: 92px;
}

.video-area .video-content a:hover {
  color: var(--white-color);
}

.video-area .video-content a:hover:before {
  background-color: var(--main-color);
}

.video-area .video-content a:hover:after {
  background-color: var(--main-color);
}

@-webkit-keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

@keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

.blog-area.two .blog-item {
  position: relative;
}

.blog-area.two .blog-item .top {
  position: relative;
}

.blog-area.two .blog-item .top:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(25%, #030721), to(rgba(3, 7, 33, 0.117531)));
  background: linear-gradient(0deg, #030721 25%, rgba(3, 7, 33, 0.117531) 100%);
}

.blog-area.two .blog-item .bottom {
  padding: 15px 15px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.blog-area.two .blog-item .bottom ul li i {
  color: var(--sky-color);
}

.blog-area.two .blog-item .bottom ul li span {
  color: var(--white-color);
}

.blog-area.two .blog-item .bottom ul li a {
  color: var(--white-color);
}

.blog-area.two .blog-item .bottom ul li a:hover {
  color: var(--sky-color);
}

.blog-area.two .blog-item .bottom h3 {
  font-size: 20px;
}

.blog-area.two .blog-item .bottom h3 a {
  color: var(--white-color);
}

.blog-area.two .blog-item .bottom h3 a:hover {
  color: var(--sky-color);
}

.blog-area.two .blog-item .bottom p {
  color: var(--white-color);
}

.blog-area.two .blog-item .bottom .common-link:hover {
  color: var(--white-color);
}

.footer-area.two {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../../images/footer-bg.png");
  background-color: #f4f4f7;
}

.copyright-area.two {
  background-color: #f4f4f7;
}

@media only screen and (max-width: 767px) {
  .side-nav.two .languages .form-select {
    color: var(--white-color);
  }
  .banner-area.two .banner-item .row {
    margin-top: 0;
  }
  .banner-area.two .banner-item .banner-img-two img:nth-child(1) {
    max-width: 280px;
  }
  .banner-area.two .banner-item .banner-img-two img:nth-child(2) {
    display: none;
  }
  .banner-area.two .banner-item .banner-img-two img:nth-child(3) {
    display: none;
  }
  .banner-area.two .banner-item .banner-img-two img:nth-child(4) {
    display: none;
  }
  .banner-area.two .banner-item .banner-img-two img:nth-child(5) {
    display: none;
  }
  .banner-area.two .banner-item .banner-img-two img:nth-child(6) {
    display: none;
  }
  .banner-area.two .banner-item .banner-img-shape img:nth-child(1) {
    display: none;
  }
  .banner-area.two .banner-item .banner-img-shape img:nth-child(2) {
    display: none;
  }
  .about-area.two .about-content .inner h3 {
    font-size: 22px;
  }
  .services-area.two .services-shape img:nth-child(3) {
    display: none;
  }
  .choose-area.two .choose-img img:nth-child(2) {
    bottom: 0;
  }
  .project-area .section-title {
    text-align: center;
  }
  .project-area .section-title .common-btn {
    position: relative;
    bottom: 0;
    margin-top: 15px;
  }
  .project-item {
    overflow: hidden;
  }
  .project-item .inner h3 {
    font-size: 22px;
  }
  .feedback-item:before {
    right: 0;
  }
  .feedback-item h3 {
    font-size: 22px;
  }
  .blog-area.two .blog-item .top:before {
    display: none;
  }
  .blog-area.two .blog-item .bottom {
    padding: 30px 15px;
    position: relative;
  }
  .blog-area.two .blog-item .bottom ul li span {
    color: var(--paragraph-color);
  }
  .blog-area.two .blog-item .bottom ul li a {
    color: var(--paragraph-color);
  }
  .blog-area.two .blog-item .bottom ul li a:hover {
    color: var(--sky-color);
  }
  .blog-area.two .blog-item .bottom h3 a {
    color: var(--blue-color);
  }
  .blog-area.two .blog-item .bottom h3 a:hover {
    color: var(--main-color);
  }
  .blog-area.two .blog-item .bottom p {
    color: var(--paragraph-color);
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .services-area.two .services-item {
    padding: 30px 25px 30px 60px;
  }
  .services-area.two .services-item .icon {
    left: 10px;
  }
  .project-item .inner h3 {
    font-size: 18px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .side-nav.two .languages .form-select {
    color: var(--white-color);
  }
  .banner-area.two .banner-item .row {
    margin-top: 0;
  }
  .banner-area.two .banner-item .banner-img-two img:nth-child(1) {
    max-width: 500px;
  }
  .banner-area.two .banner-item .banner-img-two img:nth-child(2) {
    display: none;
  }
  .banner-area.two .banner-item .banner-img-two img:nth-child(3) {
    display: none;
  }
  .banner-area.two .banner-item .banner-img-two img:nth-child(4) {
    display: none;
  }
  .banner-area.two .banner-item .banner-img-two img:nth-child(5) {
    display: none;
  }
  .banner-area.two .banner-item .banner-img-two img:nth-child(6) {
    display: none;
  }
  .banner-area.two .banner-item .banner-img-shape img:nth-child(1) {
    display: none;
  }
  .banner-area.two .banner-item .banner-img-shape img:nth-child(2) {
    display: none;
  }
  .choose-area.two .choose-img img:nth-child(2) {
    bottom: 0;
    max-width: 480px;
  }
  .project-item {
    overflow: hidden;
  }
  .project-item:before {
    border-right: 310px solid transparent;
  }
  .project-item .inner h3 {
    font-size: 20px;
  }
  .blog-area.two .blog-item .top:before {
    display: none;
  }
  .blog-area.two .blog-item .bottom {
    padding: 30px 15px;
    position: relative;
  }
  .blog-area.two .blog-item .bottom ul li span {
    color: var(--paragraph-color);
  }
  .blog-area.two .blog-item .bottom ul li a {
    color: var(--paragraph-color);
  }
  .blog-area.two .blog-item .bottom ul li a:hover {
    color: var(--sky-color);
  }
  .blog-area.two .blog-item .bottom h3 a {
    color: var(--blue-color);
  }
  .blog-area.two .blog-item .bottom h3 a:hover {
    color: var(--main-color);
  }
  .blog-area.two .blog-item .bottom p {
    color: var(--paragraph-color);
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .services-area.two .services-item {
    padding: 30px 10px 30px 55px;
  }
  .services-area.two .services-item .icon {
    left: -20px;
  }
  .services-area.two .services-item h3 {
    font-size: 20px;
  }
  .choose-area.two .choose-img img:nth-child(2) {
    bottom: -270px;
  }
  .project-item {
    overflow: hidden;
  }
  .main-nav.two .navbar-brand {
    max-width: 95px;
  }
  .blog-area.two .blog-item .top:before {
    display: none;
  }
  .blog-area.two .blog-item .bottom {
    padding: 30px 15px;
    position: relative;
  }
  .blog-area.two .blog-item .bottom ul li span {
    color: var(--paragraph-color);
  }
  .blog-area.two .blog-item .bottom ul li a {
    color: var(--paragraph-color);
  }
  .blog-area.two .blog-item .bottom ul li a:hover {
    color: var(--sky-color);
  }
  .blog-area.two .blog-item .bottom h3 a {
    color: var(--blue-color);
  }
  .blog-area.two .blog-item .bottom h3 a:hover {
    color: var(--main-color);
  }
  .blog-area.two .blog-item .bottom p {
    color: var(--paragraph-color);
  }
  .banner-area.two .banner-item .banner-img-two img:nth-child(1) {
    max-width: 100%;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1350px) {
  .main-nav.two .navbar-brand {
    max-width: 100px;
  }
  .services-item h3 {
    font-size: 20px;
  }
  .project-item {
    overflow: hidden;
  }
  .blog-area.two .blog-item .top:before {
    display: none;
  }
  .blog-area.two .blog-item .bottom {
    padding: 30px 15px;
    position: relative;
  }
  .blog-area.two .blog-item .bottom ul li span {
    color: var(--paragraph-color);
  }
  .blog-area.two .blog-item .bottom ul li a {
    color: var(--paragraph-color);
  }
  .blog-area.two .blog-item .bottom ul li a:hover {
    color: var(--sky-color);
  }
  .blog-area.two .blog-item .bottom h3 {
    font-size: 24px;
  }
  .blog-area.two .blog-item .bottom h3 a {
    color: var(--blue-color);
  }
  .blog-area.two .blog-item .bottom h3 a:hover {
    color: var(--main-color);
  }
  .blog-area.two .blog-item .bottom p {
    color: var(--paragraph-color);
  }
}

@media only screen and (min-width: 1500px) and (max-width: 1700px) {
  .banner-area.two .banner-item .banner-img-two img:nth-child(1) {
    max-width: 610px;
  }
}
/*# sourceMappingURL=home-two.css.map */