.header-area {
  background-color: #1e226c;
  padding-top: 15px;
  padding-bottom: 15px;
}

.header-area .container-fluid {
  padding-left: 15px;
  padding-right: 15px;
}

.header-area .left span {
  display: block;
  color: var(--white-color);
  font-size: 14px;
}

.header-area .right {
  text-align: end;
}

.header-area .right ul {
  margin: 0;
  padding: 0;
}

.header-area .right ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 15px;
  font-size: 14px;
}

.header-area .right ul li:last-child {
  margin-right: 0;
}

.header-area .right ul li i {
  display: inline-block;
  color: var(--white-color);
  font-size: 15px;
  position: relative;
  top: 2px;
}

.header-area .right ul li a {
  display: inline-block;
  color: var(--white-color);
}

.header-area .right ul li a:hover {
  color: var(--main-color);
}

.header-area .right ul li span {
  display: inline-block;
  color: var(--white-color);
}

.banner-item {
  height: 950px;
  background-color: #070e3b;
  position: relative;
}

.banner-item .container-fluid {
  padding-left: 15px;
  padding-right: 15px;
}

.banner-item .banner-img img {
  position: absolute;
}

.banner-item .banner-img img:nth-child(1) {
  z-index: 2;
  border-radius: 50%;
  top: 260px;
  right: 153px;
  max-width: 435px;
}

.banner-item .banner-img img:nth-child(2) {
  top: 242px;
  right: 0;
  max-width: 607px;
  z-index: 1;
}

.banner-item .banner-img img:nth-child(3) {
  bottom: 0;
  right: 20px;
  max-width: 680px;
}

.banner-item .banner-img img:nth-child(4) {
  top: 100px;
  left: 0;
  -webkit-animation: services-ani-four 10s infinite linear;
          animation: services-ani-four 10s infinite linear;
}

.banner-item .banner-img img:nth-child(5) {
  bottom: 150px;
  left: 50px;
  -webkit-animation: services-ani-two 4s infinite linear;
          animation: services-ani-two 4s infinite linear;
}

.banner-item .banner-img img:nth-child(6) {
  bottom: 100px;
  left: 28%;
  -webkit-animation: services-ani-three 15s infinite linear;
          animation: services-ani-three 15s infinite linear;
}

.banner-content {
  max-width: 570px;
  position: relative;
  z-index: 3;
}

.banner-content h1 {
  color: var(--white-color);
  font-size: 60px;
  margin-bottom: 15px;
}

.banner-content p {
  margin-bottom: 30px;
  color: var(--white-color);
}

.banner-content .banner-btn-area .common-btn.two {
  color: var(--main-color);
  background-color: var(--white-color);
  margin-left: 15px;
}

.banner-content .banner-btn-area .common-btn.two:hover {
  color: var(--white-color);
  background-color: var(--main-color);
}

.features-area {
  position: relative;
  z-index: 1;
}

.features-area .features-shape img {
  position: absolute;
  z-index: -1;
}

.features-area .features-shape img:nth-child(1) {
  top: 0;
  left: 0;
}

.features-area .features-shape img:nth-child(2) {
  top: 100px;
  left: 65px;
  -webkit-animation: features-ani-one 10s infinite linear;
          animation: features-ani-one 10s infinite linear;
}

.features-item {
  margin-bottom: 45px;
  background-color: var(--white-color);
  padding: 30px 30px;
  border-radius: 10px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  position: relative;
  -webkit-box-shadow: 0px 8px 18px 0px rgba(0, 89, 255, 0.2);
          box-shadow: 0px 8px 18px 0px rgba(0, 89, 255, 0.2);
}

.features-item:hover {
  -webkit-transform: translate(0, -5px);
          transform: translate(0, -5px);
}

.features-item:hover .features-btn {
  background-color: var(--blue-color);
}

.features-item img {
  margin-bottom: 20px;
}

.features-item h3 {
  font-size: 24px;
  margin-bottom: 15px;
}

.features-item h3 a {
  color: var(--blue-color);
}

.features-item h3 a:hover {
  color: var(--main-color);
}

.features-item p {
  margin-bottom: 12px;
}

.features-item .features-btn {
  display: inline-block;
  color: var(--white-color);
  background-color: var(--main-color);
  width: 35px;
  height: 35px;
  text-align: center;
  border-radius: 50%;
  font-size: 20px;
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.features-item .features-btn i {
  line-height: 35px;
}

@-webkit-keyframes features-ani-one {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 30px);
            transform: translate(0, 30px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes features-ani-one {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 30px);
            transform: translate(0, 30px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.about-area .about-content {
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
}

.about-area .about-content .section-title {
  margin-bottom: 30px;
  text-align: start;
}

.about-area .about-content p {
  margin-bottom: 8px;
}

.about-area .about-content p:last-child {
  margin-bottom: 0;
}

.about-area .about-content .common-btn {
  margin-top: 25px;
}

.about-area .about-img {
  text-align: center;
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
  padding-left: 30px;
}

.about-area .about-img:before {
  position: absolute;
  content: '';
  width: 600px;
  height: 500px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  background-color: #4cb8d5;
  -webkit-animation: border-transform-default-two 10s linear infinite alternate forwards;
          animation: border-transform-default-two 10s linear infinite alternate forwards;
}

.about-area .about-img img:nth-child(1) {
  -webkit-animation: border-transform-default 10s linear infinite alternate forwards;
          animation: border-transform-default 10s linear infinite alternate forwards;
}

.about-area .about-img img:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

@-webkit-keyframes border-transform-default {
  0%, to {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}

@keyframes border-transform-default {
  0%, to {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}

@-webkit-keyframes border-transform-default-two {
  0%, to {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
  14% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  28% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  70% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  84% {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
}

@keyframes border-transform-default-two {
  0%, to {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
  14% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  28% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  70% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  84% {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
}

.services-area {
  background-color: #f3f1fd;
  position: relative;
  z-index: 1;
}

.services-area .services-shape img {
  position: absolute;
  z-index: -1;
}

.services-area .services-shape img:nth-child(1) {
  top: 50px;
  left: 50px;
  -webkit-animation: services-ani-one 10s infinite linear;
          animation: services-ani-one 10s infinite linear;
}

.services-area .services-shape img:nth-child(2) {
  top: 50%;
  left: 50px;
  -webkit-animation: services-ani-two 4s infinite linear;
          animation: services-ani-two 4s infinite linear;
}

.services-area .services-shape img:nth-child(3) {
  bottom: 100px;
  left: 80px;
  -webkit-animation: services-ani-three 15s infinite linear;
          animation: services-ani-three 15s infinite linear;
}

.services-area .services-shape img:nth-child(4) {
  right: 50px;
  bottom: 50px;
  -webkit-animation: services-ani-four 10s infinite linear;
          animation: services-ani-four 10s infinite linear;
}

@-webkit-keyframes services-ani-one {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(0, -30px);
            transform: translate(0, -30px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@keyframes services-ani-one {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(0, -30px);
            transform: translate(0, -30px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@-webkit-keyframes services-ani-two {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(30px, 0);
            transform: translate(30px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@keyframes services-ani-two {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(30px, 0);
            transform: translate(30px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@-webkit-keyframes services-ani-three {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes services-ani-three {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes services-ani-four {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(0, 30px);
            transform: translate(0, 30px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@keyframes services-ani-four {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(0, 30px);
            transform: translate(0, 30px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

.services-item {
  margin-bottom: 30px;
  background-color: var(--white-color);
  border-radius: 10px;
  border: 2px dotted #05c2de;
  padding: 30px 25px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.services-item:hover {
  -webkit-transform: translate(0, -5px);
          transform: translate(0, -5px);
}

.services-item:hover .icon img:nth-child(1) {
  opacity: 0;
}

.services-item:hover .icon img:nth-child(2) {
  opacity: 1;
  z-index: 1;
}

.services-item:hover .icon img:nth-child(3) {
  opacity: 0;
}

.services-item:hover .icon img:nth-child(4) {
  opacity: 1;
}

.services-item .icon {
  position: relative;
  margin-top: 15px;
  margin-bottom: 50px;
}

.services-item .icon img {
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.services-item .icon img:nth-child(1) {
  position: relative;
  z-index: 1;
  left: 24px;
}

.services-item .icon img:nth-child(2) {
  position: absolute;
  left: 24px;
  top: 0;
  opacity: 0;
}

.services-item .icon img:nth-child(3) {
  position: absolute;
  left: 0;
  top: -16px;
}

.services-item .icon img:nth-child(4) {
  position: absolute;
  left: 0;
  top: -16px;
  opacity: 0;
}

.services-item h3 {
  font-size: 24px;
  margin-bottom: 15px;
}

.services-item h3 a {
  color: var(--blue-color);
}

.services-item h3 a:hover {
  color: var(--main-color);
}

.services-item p {
  margin-bottom: 18px;
}

.choose-area .choose-img {
  margin-bottom: 30px;
  text-align: center;
  position: relative;
  padding-right: 30px;
}

.choose-area .choose-img img:nth-child(1) {
  position: relative;
}

.choose-area .choose-img img:nth-child(2) {
  position: absolute;
  top: 35px;
  right: 65px;
  border-radius: 50%;
  max-width: 570px;
}

.choose-area .choose-content {
  margin-bottom: 30px;
}

.choose-area .choose-content .section-title {
  margin-bottom: 30px;
  text-align: start;
}

.choose-area .choose-content ul {
  margin: 0;
  padding: 0;
}

.choose-area .choose-content ul li {
  list-style-type: none;
  display: block;
  margin-bottom: 25px;
  position: relative;
  padding-left: 75px;
}

.choose-area .choose-content ul li:hover img {
  -webkit-animation: flash 0.5s;
          animation: flash 0.5s;
}

.choose-area .choose-content ul li:last-child {
  margin-bottom: 0;
}

.choose-area .choose-content ul li img {
  position: absolute;
  top: 0;
  left: 0;
}

.choose-area .choose-content ul li h3 {
  font-size: 24px;
  margin-bottom: 8px;
}

.choose-area .choose-content ul li p {
  margin-bottom: 0;
}

.team-area {
  background-color: #050b2e;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.team-area .section-title h2 {
  color: var(--white-color);
}

.team-area .team-shape img {
  position: absolute;
  z-index: -1;
}

.team-area .team-shape img:nth-child(1) {
  top: 50px;
  left: 50px;
  -webkit-animation: services-ani-one 10s infinite linear;
          animation: services-ani-one 10s infinite linear;
}

.team-area .team-shape img:nth-child(2) {
  left: 50px;
  bottom: 50px;
  -webkit-animation: services-ani-two 4s infinite linear;
          animation: services-ani-two 4s infinite linear;
}

.team-area .team-shape img:nth-child(3) {
  top: 50px;
  right: 50px;
  -webkit-animation: services-ani-four 10s infinite linear;
          animation: services-ani-four 10s infinite linear;
}

.team-item {
  margin-bottom: 30px;
  text-align: center;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.team-item:hover {
  -webkit-transform: translate(0, -5px);
          transform: translate(0, -5px);
}

.team-item:hover .top img:nth-child(2) {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.team-item .top {
  position: relative;
  margin-bottom: 30px;
}

.team-item .top img:nth-child(1) {
  position: relative;
  z-index: 1;
  border-radius: 50%;
  padding: 10px;
}

.team-item .top img:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.team-item .bottom h3 {
  font-size: 24px;
  margin-bottom: 5px;
  color: var(--white-color);
}

.team-item .bottom span {
  display: block;
  color: var(--white-color);
}

.testimonials-area .owl-theme .owl-nav {
  margin-top: 25px;
  text-align: start;
}

.testimonials-area .owl-prev {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px !important;
  border-radius: 5px !important;
  font-size: 25px !important;
  color: var(--white-color) !important;
  background-color: var(--main-color) !important;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.testimonials-area .owl-prev i {
  line-height: 40px;
}

.testimonials-area .owl-prev:hover {
  color: var(--white-color) !important;
  background-color: var(--blue-color) !important;
}

.testimonials-area .owl-next {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px !important;
  border-radius: 5px !important;
  font-size: 25px !important;
  color: var(--white-color) !important;
  background-color: var(--main-color) !important;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.testimonials-area .owl-next i {
  line-height: 40px;
}

.testimonials-area .owl-next:hover {
  color: var(--white-color) !important;
  background-color: var(--blue-color) !important;
}

.testimonials-area .testimonials-img {
  margin-bottom: 30px;
  position: relative;
  text-align: center;
}

.testimonials-area .testimonials-img:before {
  position: absolute;
  content: '';
  width: 600px;
  height: 500px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
  background-color: #5a6ac8;
  -webkit-animation: border-transform-default-two 10s linear infinite alternate forwards;
          animation: border-transform-default-two 10s linear infinite alternate forwards;
}

.testimonials-area .testimonials-img img {
  -webkit-animation: border-transform-default 10s linear infinite alternate forwards;
          animation: border-transform-default 10s linear infinite alternate forwards;
}

.testimonials-area .testimonials-content {
  margin-bottom: 30px;
  padding-left: 30px;
}

.testimonials-area .testimonials-content .section-title {
  text-align: start;
  margin-bottom: 30px;
}

.testimonials-area .testimonials-content .testimonials-item i {
  font-size: 50px;
  margin-bottom: 20px;
  color: var(--main-color);
}

.testimonials-area .testimonials-content .testimonials-item p {
  font-style: italic;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 26px;
}

.testimonials-area .testimonials-content .testimonials-item .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.testimonials-area .testimonials-content .testimonials-item .inner .left {
  max-width: 16%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16%;
          flex: 0 0 16%;
}

.testimonials-area .testimonials-content .testimonials-item .inner .left img {
  border-radius: 50%;
}

.testimonials-area .testimonials-content .testimonials-item .inner .right {
  max-width: 70%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
  margin-left: 15px;
}

.testimonials-area .testimonials-content .testimonials-item .inner .right h3 {
  font-size: 24px;
  margin-bottom: 5px;
}

.testimonials-area .testimonials-content .testimonials-item .inner .right span {
  display: block;
}

.blog-item {
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 0px 20px 0px #f1f1f1;
          box-shadow: 0px 0px 20px 0px #f1f1f1;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.blog-item:hover {
  -webkit-transform: translate(0, -5px);
          transform: translate(0, -5px);
}

.blog-item .top a {
  display: block;
}

.blog-item .bottom {
  padding: 30px 25px;
}

.blog-item .bottom ul {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}

.blog-item .bottom ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 15px;
  font-size: 15px;
}

.blog-item .bottom ul li i {
  color: var(--main-color);
  position: relative;
  top: 1px;
}

.blog-item .bottom ul li span {
  display: inline-block;
}

.blog-item .bottom ul li a {
  display: inline-block;
  color: var(--paragraph-color);
}

.blog-item .bottom ul li a:hover {
  color: var(--main-color);
}

.blog-item .bottom h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.blog-item .bottom h3 a {
  color: var(--blue-color);
  line-height: 1.4;
}

.blog-item .bottom h3 a:hover {
  color: var(--main-color);
}

.blog-item .bottom p {
  margin-bottom: 20px;
}

.partner-area {
  background-color: #f5f5f5;
}

.partner-area .owl-carousel .owl-item img {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.footer-area {
  background-color: #f5f6fd;
}

.footer-item {
  margin-bottom: 30px;
}

.footer-item h3 {
  font-size: 24px;
  margin-bottom: 25px;
}

.footer-item .footer-logo .logo {
  display: block;
  margin-bottom: 20px;
}

.footer-item .footer-logo p {
  margin-bottom: 18px;
}

.footer-item .footer-logo ul {
  margin: 0;
  padding: 0;
}

.footer-item .footer-logo ul li {
  list-style-type: none;
  display: inline-block;
  vertical-align: middle;
}

.footer-item .footer-logo ul li span {
  font-weight: 500;
  display: inline-block;
}

.footer-item .footer-logo ul li a {
  display: inline-block;
  color: #a09f9f;
}

.footer-item .footer-logo ul li a:hover {
  color: var(--main-color);
}

.footer-item .footer-links ul {
  margin: 0;
  padding: 0;
}

.footer-item .footer-links ul li {
  list-style-type: none;
  display: block;
  margin-bottom: 12px;
}

.footer-item .footer-links ul li:last-child {
  margin-bottom: 0;
}

.footer-item .footer-links ul li span {
  font-weight: 500;
  color: var(--blue-color);
  display: block;
}

.footer-item .footer-links ul li a {
  display: block;
  color: var(--paragraph-color);
}

.footer-item .footer-links ul li a:hover {
  color: var(--main-color);
}

.footer-item .footer-subscribe p {
  margin-bottom: 20px;
}

.footer-item .footer-subscribe .form-control {
  height: 50px;
  border: 0;
  border-radius: 0;
  background-color: var(--white-color);
  font-size: 15px;
  margin-bottom: 15px;
}

.footer-item .footer-subscribe .form-control:focus {
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.footer-item .footer-subscribe .common-btn {
  width: 100%;
  display: block;
  border-radius: 0;
}

.copyright-area {
  background-color: #f5f6fd;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #f1f1f1;
}

.copyright-area .copyright-item p {
  margin-bottom: 0;
}

.copyright-area .copyright-item p a {
  display: inline-block;
  font-weight: 600;
  color: var(--main-color);
}

.copyright-area .copyright-item p a:hover {
  color: var(--blue-color);
}

.copyright-area .copyright-item ul {
  margin: 0;
  padding: 0;
  text-align: end;
}

.copyright-area .copyright-item ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 20px;
  position: relative;
}

.copyright-area .copyright-item ul li:before {
  position: absolute;
  content: '';
  height: 15px;
  width: 1px;
  top: 5px;
  right: -12px;
  background-color: var(--paragraph-color);
}

.copyright-area .copyright-item ul li:last-child {
  margin-right: 0;
}

.copyright-area .copyright-item ul li:last-child:before {
  display: none;
}

.copyright-area .copyright-item ul li a {
  display: block;
  color: var(--paragraph-color);
}

.copyright-area .copyright-item ul li a:hover {
  color: var(--main-color);
}

.go-top {
  position: fixed;
  cursor: pointer;
  bottom: 45px;
  right: 0;
  color: var(--white-color);
  background-color: var(--main-color);
  z-index: 4;
  width: 45px;
  text-align: center;
  height: 45px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .9s;
  transition: .9s;
  border-radius: 50%;
  border: 1px solid var(--main-color);
}

.go-top i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  font-size: 30px;
  line-height: 45px;
}

.go-top i:last-child {
  opacity: 0;
  visibility: hidden;
  top: 60%;
}

.go-top.active {
  right: 1%;
  -webkit-transform: translateY(-1%);
          transform: translateY(-1%);
  opacity: 1;
  visibility: visible;
}

.go-top:hover, .go-top:focus {
  color: var(--white-color);
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
}

.go-top:hover i:first-child, .go-top:focus i:first-child {
  opacity: 0;
  top: 0;
  visibility: hidden;
}

.go-top:hover i:last-child, .go-top:focus i:last-child {
  opacity: 1;
  visibility: visible;
  top: 50%;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: inherit;
  }
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: var(--white-color);
}

.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: var(--main-color);
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
          animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

@media only screen and (min-width: 1500px) {
  .header-area .container-fluid {
    padding-left: 80px;
    padding-right: 80px;
    max-width: 1600px;
  }
  .main-nav .container-fluid {
    padding-left: 80px;
    padding-right: 80px;
    max-width: 1600px;
  }
  .banner-item .container-fluid {
    padding-left: 80px;
    padding-right: 80px;
    max-width: 1600px;
  }
  .banner-item .banner-img img:nth-child(1) {
    top: 195px;
    right: 195px;
    max-width: 550px;
  }
  .banner-item .banner-img img:nth-child(2) {
    top: 168px;
    right: 0;
    max-width: 770px;
  }
  .banner-item .banner-img img:nth-child(3) {
    right: 130px;
    max-width: 680px;
  }
}

@media only screen and (min-width: 2500px) {
  .banner-item .container-fluid {
    max-width: 1600px;
  }
}

@media only screen and (min-width: 1800px) {
  .banner-item .banner-img img:nth-child(3) {
    right: 165px;
  }
}

@media only screen and (max-width: 767px) {
  .header-area {
    text-align: center;
  }
  .header-area .left {
    margin-bottom: 10px;
  }
  .header-area .right {
    text-align: center;
  }
  .side-nav {
    background-color: #1e226c;
    text-align: center;
  }
  .side-nav .languages .form-select {
    max-width: 60px;
  }
  .side-nav .nav-btn .common-btn {
    padding: 8px 12px;
    font-size: 14px;
  }
  .banner-item {
    height: 100%;
    padding-top: 160px;
    padding-bottom: 75px;
  }
  .banner-item .banner-img {
    text-align: center;
  }
  .banner-item .banner-img img:nth-child(1) {
    top: 0;
    right: 0;
    max-width: 280px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  .banner-item .banner-img img:nth-child(2) {
    display: none;
  }
  .banner-item .banner-img img:nth-child(3) {
    display: none;
  }
  .banner-item .banner-img img:nth-child(4) {
    display: none;
  }
  .banner-item .banner-img img:nth-child(5) {
    display: none;
  }
  .banner-item .banner-img img:nth-child(6) {
    display: none;
  }
  .banner-content {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 30px;
  }
  .banner-content h1 {
    font-size: 35px;
  }
  .banner-content .banner-btn-area .common-btn {
    margin-left: 5px;
    margin-right: 5px;
  }
  .banner-content .banner-btn-area .common-btn.two {
    margin-left: 0;
  }
  .features-item h3 {
    font-size: 22px;
  }
  .about-area .about-content {
    text-align: center;
  }
  .about-area .about-content .section-title {
    text-align: center;
  }
  .about-area .about-img {
    padding-left: 0;
  }
  .about-area .about-img:before {
    display: none;
  }
  .services-area .services-shape img:nth-child(1) {
    display: none;
  }
  .services-item {
    padding: 30px 15px;
  }
  .services-item h3 {
    font-size: 22px;
  }
  .choose-area .choose-img {
    padding-right: 0;
    text-align: center;
  }
  .choose-area .choose-img img:nth-child(1) {
    display: none;
  }
  .choose-area .choose-img img:nth-child(2) {
    position: relative;
    top: 0;
    right: 0;
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
  .choose-area .choose-content .section-title {
    text-align: center;
  }
  .choose-area .choose-content ul li {
    padding-left: 0;
    text-align: center;
  }
  .choose-area .choose-content ul li img {
    position: relative;
    margin-bottom: 20px;
  }
  .choose-area .choose-content ul li h3 {
    font-size: 22px;
  }
  .team-area .team-shape img:nth-child(1) {
    display: none;
  }
  .team-area .team-shape img:nth-child(2) {
    display: none;
  }
  .team-area .team-shape img:nth-child(3) {
    display: none;
  }
  .team-item .bottom h3 {
    font-size: 22px;
  }
  .testimonials-area .testimonials-img {
    text-align: center;
  }
  .testimonials-area .testimonials-img:before {
    display: none;
  }
  .testimonials-area .testimonials-content {
    padding-left: 0;
  }
  .testimonials-area .testimonials-content .testimonials-item p {
    font-size: 16px;
  }
  .testimonials-area .testimonials-content .testimonials-item .inner .left {
    max-width: 20%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
  }
  .testimonials-area .testimonials-content .testimonials-item .inner .right h3 {
    font-size: 20px;
  }
  .blog-item .bottom {
    padding: 30px 15px;
  }
  .blog-item .bottom h3 {
    font-size: 22px;
  }
  .footer-item h3 {
    font-size: 22px;
  }
  .copyright-area {
    text-align: center;
  }
  .copyright-area .copyright-item p {
    margin-bottom: 10px;
  }
  .copyright-area .copyright-item ul {
    text-align: center;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .services-item h3 {
    font-size: 18px;
  }
  .blog-item .bottom ul li {
    margin-right: 10px;
  }
  .blog-item .bottom h3 {
    font-size: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-area {
    text-align: center;
  }
  .header-area .left {
    margin-bottom: 10px;
  }
  .header-area .right {
    text-align: center;
  }
  .side-nav {
    position: absolute;
    top: 4px;
    right: 70px;
  }
  .side-nav .languages .form-select {
    max-width: 60px;
  }
  .side-nav .nav-btn .common-btn {
    padding: 8px 12px;
    font-size: 14px;
  }
  .banner-item {
    height: 100%;
    padding-top: 120px;
    padding-bottom: 75px;
  }
  .banner-item .banner-img {
    text-align: center;
  }
  .banner-item .banner-img img:nth-child(1) {
    top: 0;
    right: 0;
    max-width: 400px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  .banner-item .banner-img img:nth-child(2) {
    display: none;
  }
  .banner-item .banner-img img:nth-child(3) {
    display: none;
  }
  .banner-item .banner-img img:nth-child(4) {
    display: none;
  }
  .banner-item .banner-img img:nth-child(5) {
    display: none;
  }
  .banner-item .banner-img img:nth-child(6) {
    display: none;
  }
  .banner-content {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 30px;
  }
  .banner-content h1 {
    font-size: 50px;
  }
  .banner-content .banner-btn-area .common-btn {
    margin-left: 5px;
    margin-right: 5px;
  }
  .banner-content .banner-btn-area .common-btn.two {
    margin-left: 0;
  }
  .about-area .about-content {
    text-align: center;
  }
  .about-area .about-content .section-title {
    text-align: center;
  }
  .about-area .about-img {
    padding-left: 0;
  }
  .choose-area .choose-img {
    padding-right: 0;
    text-align: center;
  }
  .choose-area .choose-img img:nth-child(2) {
    top: 30px;
    right: 60px;
    max-width: 610px;
  }
  .choose-area .choose-content .section-title {
    text-align: center;
  }
  .choose-area .choose-content ul li {
    padding-left: 0;
    text-align: center;
  }
  .choose-area .choose-content ul li img {
    position: relative;
    margin-bottom: 20px;
  }
  .choose-area .choose-content ul li p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  .copyright-area {
    text-align: center;
  }
  .copyright-area .copyright-item p {
    margin-bottom: 10px;
  }
  .copyright-area .copyright-item ul {
    text-align: center;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .main-nav .navbar-brand {
    margin-right: 5px;
  }
  .main-nav nav .navbar-nav .nav-item a {
    font-size: 13px;
    margin-left: 8px;
    margin-right: 8px;
  }
  .side-nav .languages .form-select {
    font-size: 13px;
  }
  .side-nav .nav-search {
    margin-right: 0;
  }
  .side-nav .side-menu {
    margin-right: 0;
  }
  .side-nav .nav-btn .common-btn {
    font-size: 13px;
    padding: 10px 10px;
  }
  .banner-content {
    max-width: 445px;
  }
  .banner-content h1 {
    font-size: 45px;
  }
  .banner-item .banner-img img:nth-child(1) {
    right: 45px;
  }
  .banner-item .banner-img img:nth-child(2) {
    max-width: 475px;
  }
  .banner-item .banner-img img:nth-child(3) {
    max-width: 530px;
  }
  .about-area .about-img:before {
    width: 100%;
    height: 100%;
  }
  .services-item {
    padding: 30px 8px;
  }
  .choose-area .choose-img img:nth-child(2) {
    top: 0;
    right: 0;
    max-width: 100%;
  }
  .team-area .team-shape img:nth-child(2) {
    bottom: 0;
  }
  .testimonials-area .testimonials-img:before {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1350px) {
  .main-nav .navbar-brand {
    margin-right: 15px;
  }
  .side-nav .nav-btn .common-btn {
    padding: 10px 10px;
  }
  .banner-item .banner-img img:nth-child(3) {
    max-width: 620px;
  }
  .about-area .about-img:before {
    width: 100%;
    height: 100%;
  }
  .choose-area .choose-img img:nth-child(2) {
    top: 0;
    right: 10px;
    max-width: 535px;
  }
  .team-area .team-shape img:nth-child(2) {
    bottom: 0;
  }
  .testimonials-area .testimonials-img:before {
    width: 100%;
    height: 100%;
  }
}
/*# sourceMappingURL=home-one.css.map */