.title-bg-three {
  background-image: url("../../images/title/bg3.jpg");
}

.project-details-area .details-content img {
  margin-bottom: 25px;
}

.project-details-area .details-content .details {
  background-color: var(--blue-color);
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 25px;
}

.project-details-area .details-content .details .col-lg-3 {
  border-right: 1px dotted var(--sky-color);
}

.project-details-area .details-content .details .inner span {
  display: block;
  color: var(--white-color);
}

.project-details-area .details-content h1, .project-details-area .details-content h2, .project-details-area .details-content h3, .project-details-area .details-content h4, .project-details-area .details-content h5, .project-details-area .details-content h6 {
  margin-bottom: 10px;
}

.project-details-area .details-content h1 {
  font-size: 40px;
}

.project-details-area .details-content h2 {
  font-size: 25px;
  color: var(--white-color);
  margin-bottom: 0;
}

.project-details-area .details-content h3 {
  font-size: 20px;
  margin-bottom: 5px;
  color: var(--white-color);
}

.project-details-area .details-content h4 {
  font-size: 22px;
}

.project-details-area .details-content h5 {
  font-size: 20px;
}

.project-details-area .details-content h6 {
  font-size: 18px;
}

.project-details-area .details-content a {
  display: inline-block;
  color: var(--paragraph-color);
}

.project-details-area .details-content a:hover {
  color: var(--main-color);
}

.project-details-area .details-content p {
  margin-bottom: 8px;
}

.project-details-area .details-content p:last-child {
  margin-bottom: 0;
}

.project-details-area .details-content .user {
  margin-top: 25px;
}

.project-details-area .details-content .user h3 {
  color: var(--blue-color);
  font-size: 24px;
  margin-bottom: 15px;
}

.project-details-area .details-content .user ul {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.project-details-area .details-content .user ul li {
  list-style-type: none;
  display: block;
  margin-bottom: 10px;
  padding-left: 25px;
  position: relative;
}

.project-details-area .details-content .user ul li:last-child {
  margin-bottom: 0;
}

.project-details-area .details-content .user ul li i {
  display: inline-block;
  color: var(--main-color);
  font-size: 20px;
  position: absolute;
  top: 3px;
  left: 0;
}

.project-details-area .details-content .digital h3 {
  color: var(--blue-color);
  font-size: 24px;
  margin-bottom: 15px;
}

.project-details-area .details-content .digital p:last-child {
  margin-bottom: 25px;
}

@media only screen and (max-width: 767px) {
  .project-details-area .details-content {
    margin-bottom: 30px;
  }
  .project-details-area .details-content .details {
    padding-bottom: 0;
  }
  .project-details-area .details-content .details .inner {
    margin-bottom: 30px;
  }
  .project-details-area .details-content .details .col-lg-3 {
    border-right: 0;
  }
  .project-details-area .details-content h2 {
    font-size: 22px;
  }
  .project-details-area .details-content h3 {
    font-size: 18px;
  }
  .project-details-area .details-content .digital h3 {
    font-size: 22px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .project-details-area .details-content {
    margin-bottom: 30px;
  }
  .project-details-area .details-content .details {
    padding-bottom: 0;
  }
  .project-details-area .details-content .details .inner {
    margin-bottom: 30px;
  }
  .project-details-area .details-content .details .col-lg-3 {
    border-right: 0;
  }
  .project-details-area .details-content img {
    width: 100%;
  }
}
/*# sourceMappingURL=project-details.css.map */