.user-area .user-item {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f1f1f1;
  padding: 50px;
}

.user-area .user-item h2 {
  text-align: center;
  margin-bottom: 30px;
  margin-top: -4px;
  font-size: 25px;
}

.user-area .user-item .form-group {
  margin-bottom: 15px;
}

.user-area .user-item .form-group .form-control {
  height: 50px;
  border: 0;
  border-radius: 5px;
  padding-left: 15px;
  background-color: var(--white-color);
}

.user-area .user-item .form-group .form-control:focus {
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.user-area .user-item .form-group .form-check .form-check-label {
  color: var(--paragraph-color);
}

.user-area .user-item .form-group .form-check .form-check-label a {
  display: inline-block;
  color: var(--paragraph-color);
  font-weight: 600;
}

.user-area .user-item .form-group .form-check .form-check-label a:hover {
  color: var(--sky-color);
}

.user-area .user-item .form-group .form-check .form-check-input {
  margin-left: -22px;
  width: 18px;
  height: 18px;
  border-radius: 0;
  margin-top: 2px;
  border: 1px solid var(--main-color);
}

.user-area .user-item .form-group .form-check .form-check-input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid var(--main-color);
}

.user-area .user-item .form-group .form-check .form-check-input:checked {
  background-color: var(--main-color);
}

.user-area .user-item .common-btn {
  width: 100%;
  display: block;
  margin-bottom: 30px;
  border-radius: 5px;
}

.user-area .user-item h4 {
  font-weight: 400;
  margin-bottom: 30px;
  font-size: var(--all-size);
  position: relative;
  text-align: center;
}

.user-area .user-item h4:before {
  position: absolute;
  content: '';
  top: 9px;
  left: 0;
  width: 45%;
  height: 1px;
  background-color: #ddd;
}

.user-area .user-item h4:after {
  position: absolute;
  content: '';
  top: 9px;
  right: 0;
  width: 45%;
  height: 1px;
  background-color: #ddd;
}

.user-area .user-item ul {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 30px;
}

.user-area .user-item ul li {
  list-style-type: none;
  display: block;
  margin-bottom: 15px;
}

.user-area .user-item ul li:last-child {
  margin-bottom: 0;
}

.user-area .user-item ul li a {
  display: block;
  color: var(--white-color);
  background-color: #3B5998;
  border-radius: 5px;
  border: 1px solid #3B5998;
  padding: 10px 12px;
  font-weight: 600;
}

.user-area .user-item ul li a i {
  display: inline-block;
  font-size: 20px;
  position: relative;
  top: 3px;
}

.user-area .user-item ul li a:hover {
  color: #3B5998;
  background-color: var(--white-color);
}

.user-area .user-item ul li:nth-child(2) a {
  background-color: #DB3236;
  border: 1px solid #DB3236;
}

.user-area .user-item ul li:nth-child(2) a:hover {
  color: #DB3236;
  background-color: var(--white-color);
}

.user-area .user-item h5 {
  margin-bottom: 0;
  font-weight: 400;
  color: var(--paragraph-color);
  font-size: var(--all-size);
  text-align: center;
}

.user-area .user-item h5 a {
  color: var(--sky-color);
  display: inline-block;
  font-weight: 600;
  border-bottom: 1px solid var(--sky-color);
}

.user-area .user-item h5 a:hover {
  color: var(--paragraph-color);
  border-bottom: 1px solid var(--paragraph-color);
}

@media only screen and (max-width: 767px) {
  .user-area .user-item {
    padding: 15px;
  }
}
/*# sourceMappingURL=register.css.map */