.shop-area .top-sorting {
  background-color: #f9f9f9;
  margin-bottom: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
}

.shop-area .top-sorting .left span {
  display: block;
}

.shop-area .top-sorting .right {
  text-align: end;
}

.shop-area .top-sorting .right .form-select {
  font-size: var(--all-size);
  background-color: var(--white-color);
  color: var(--paragraph-color);
  border: 0;
  max-width: 180px;
  margin-left: auto;
}

.shop-area .top-sorting .right .form-select:focus {
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.shop-area .top-sorting .right .form-select option {
  color: var(--blue-color);
  padding-top: 5px;
  padding-bottom: 5px;
}

.shop-item {
  margin-bottom: 30px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.shop-item:hover {
  -webkit-transform: translate(0, -5px);
          transform: translate(0, -5px);
}

.shop-item .top {
  text-align: center;
  background-color: #f5f8f8;
  position: relative;
  padding: 10px;
  margin-bottom: 15px;
}

.shop-item .top span {
  position: absolute;
  top: 15px;
  right: 15px;
  color: var(--white-color);
  background-color: #f8a840;
  font-weight: 500;
  padding: 5px 12px;
  border-radius: 5px;
  font-size: 15px;
}

.shop-item .bottom {
  position: relative;
}

.shop-item .bottom h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.shop-item .bottom h3 a {
  color: var(--blue-color);
}

.shop-item .bottom h3 a:hover {
  color: var(--main-color);
}

.shop-item .bottom span {
  display: block;
}

.shop-item .bottom ul {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.shop-item .bottom ul li {
  list-style-type: none;
  display: inline-block;
}

.shop-item .bottom ul li i {
  display: block;
  color: #ddd;
}

.shop-item .bottom ul li i.checked {
  color: #ffc107;
}

.widget-area .tags h3 {
  margin-bottom: 18px;
}

.widget-area .tags ul {
  margin: 0;
  padding: 0;
}

.widget-area .tags ul li {
  list-style-type: none;
  display: inline-block;
  margin-top: 8px;
  margin-right: 5px;
}

.widget-area .tags ul li a {
  display: block;
  color: var(--paragraph-color);
  padding: 4px 12px;
  background-color: var(--white-color);
}

.widget-area .tags ul li a:hover {
  color: var(--white-color);
  background-color: var(--main-color);
}

@media only screen and (max-width: 767px) {
  .shop-area .top-sorting {
    text-align: center;
  }
  .shop-area .top-sorting .left {
    margin-bottom: 10px;
  }
  .shop-area .top-sorting .right {
    text-align: center;
  }
  .shop-area .top-sorting .right .form-select {
    margin-right: auto;
  }
  .shop-area .pagination-area {
    margin-bottom: 30px;
  }
  .shop-item .bottom h3 {
    font-size: 22px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .shop-area .pagination-area {
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .shop-item .bottom h3 {
    font-size: 18px;
  }
}
/*# sourceMappingURL=shop.css.map */