.title-bg-four {
  background-image: url("../../images/title/bg4.jpg");
}

.shop-details-area .details-img {
  text-align: center;
  background-color: #f3f3f3;
  margin-bottom: 30px;
}

.shop-details-area .details-content {
  margin-bottom: 30px;
  padding-left: 30px;
}

.shop-details-area .details-content .top h2 {
  font-size: 30px;
  margin-bottom: 8px;
}

.shop-details-area .details-content .top .rating {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

.shop-details-area .details-content .top .rating li {
  list-style-type: none;
  display: inline-block;
}

.shop-details-area .details-content .top .rating li i {
  display: block;
  color: #ddd;
}

.shop-details-area .details-content .top .rating li i.checked {
  color: #f8a840;
}

.shop-details-area .details-content .top span {
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}

.shop-details-area .details-content .top p {
  margin-top: 5px;
  margin-bottom: 20px;
}

.shop-details-area .details-content .bottom .size {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.shop-details-area .details-content .bottom .size li {
  list-style-type: none;
  display: inline-block;
  margin-right: 5px;
}

.shop-details-area .details-content .bottom .size li span {
  font-weight: 500;
  display: inline-block;
}

.shop-details-area .details-content .bottom .size li a {
  display: inline-block;
  color: var(--paragraph-color);
  background-color: #f1f1f1;
  padding: 4px 12px;
}

.shop-details-area .details-content .bottom .size li a:hover {
  color: var(--white-color);
  background-color: var(--main-color);
}

.shop-details-area .details-content .bottom .quantity {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.shop-details-area .details-content .bottom .quantity li {
  list-style-type: none;
  display: inline-block;
}

.shop-details-area .details-content .bottom .quantity li span {
  display: inline-block;
  font-weight: 500;
}

.shop-details-area .details-content .bottom .cart {
  margin: 0;
  padding: 0;
}

.shop-details-area .details-content .bottom .cart li {
  list-style-type: none;
  display: inline-block;
  margin-right: 3px;
}

.shop-details-area .details-content .bottom .cart li a {
  display: block;
  color: var(--paragraph-color);
  background-color: #f1f1f1;
  padding: 8px 12px;
}

.shop-details-area .details-content .bottom .cart li a:hover {
  color: var(--white-color);
  background-color: var(--blue-color);
}

.shop-details-area .tab {
  margin-bottom: 30px;
}

.shop-details-area .tab .tabs {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f1f1f1;
}

.shop-details-area .tab .tabs li {
  display: inline-block;
  list-style-type: none;
  margin-right: 20px;
}

.shop-details-area .tab .tabs li.current a {
  color: var(--main-color);
}

.shop-details-area .tab .tabs li a {
  display: block;
  font-size: 18px;
  font-weight: 500;
  color: var(--paragraph-color);
}

.shop-details-area .tab .tabs_item {
  display: none;
}

.shop-details-area .tab .tabs_item:first-child {
  display: block;
}

.shop-details-area .tab .tab_content .description p {
  margin-bottom: 0;
}

.shop-details-area .tab .tab_content .reviews ul {
  margin: 0;
  padding: 0;
}

.shop-details-area .tab .tab_content .reviews ul li {
  list-style-type: none;
  display: block;
  position: relative;
  margin-bottom: 30px;
  padding-left: 115px;
}

.shop-details-area .tab .tab_content .reviews ul li:last-child {
  margin-bottom: 0;
}

.shop-details-area .tab .tab_content .reviews ul li img {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  max-width: 95px;
}

.shop-details-area .tab .tab_content .reviews ul li h4 {
  font-size: 24px;
  margin-bottom: 10px;
}

.shop-details-area .tab .tab_content .reviews ul li span {
  display: block;
  margin-bottom: 12px;
}

.shop-details-area .tab .tab_content .reviews ul li p {
  margin-bottom: 0;
}

.shop-details-area .product-title {
  margin-bottom: 30px;
}

.shop-details-area .product-title h2 {
  font-size: 24px;
  margin-bottom: 0;
}

@media only screen and (max-width: 767px) {
  .shop-details-area .details-content {
    padding-left: 0;
  }
  .shop-details-area .details-content .top h2 {
    font-size: 25px;
  }
  .shop-details-area .details-content .bottom .cart li a {
    padding: 8px 6px;
  }
  .shop-details-area .tab .tabs li {
    margin-right: 10px;
  }
  .shop-details-area .tab .tab_content .reviews ul li h4 {
    font-size: 22px;
  }
  .shop-details-area .product-title h2 {
    font-size: 22px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .shop-details-area .details-content {
    padding-left: 0;
  }
}
/*# sourceMappingURL=shop-details.css.map */